@model IEnumerable<Client.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string imageUrl = ViewBag.apiServer;
}

<h1 style="align-items:center">EmployeeList</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<br/>
<div style="background-color:transparent">

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>

            <th>
                Experiences
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoinDate)
                </td>
                <td>
                    <img src="@Url.Content(imageUrl + item.ImageUrl + "?t=" + DateTime.Now.Ticks)" height="80" width="80" alt="No image found" />
                </td>
                <td>
                    <ul>
                        @foreach (var exp in item.Experiences) {
                        <li>
                                @Html.DisplayFor(modelItem => exp.Title) -  @Html.DisplayFor(modelItem =>exp.Duration)
                        </li>}

               </ul>
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId  }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeId })
            </td>
        </tr>
}
    </tbody>
</table>
